html,body,h1,h2,h3,h4,h5,h6,p,ul,li {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

body {
    background: #E7EAED;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
}

a {
    color: #555;
    text-decoration: none;
}

/* ---------- Header ---------- */

header {
    background: #333333;
}

header .container {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;

}

header .container > div:first-child {
    width: 30%;
    align-self: center;
}
header .container > div:nth-child(2) {
    width: 50%;
    align-self: center;
}
header .container > div:last-child {
    width: 20%;
    align-self: center;
}

header .title {
    font-style: italic;
}

header .title a {
    color: crimson;
}

header .description {
    color: #fff;
}

header .title a:hover {
    color: #d02c65;
}

header ul.menu {
    display: flex;

}

header ul.menu li {
    border: 2px solid #a05158;
    border-radius: 5px;
    margin-right: 5px;
    align-self: center;
}

header ul.menu li:hover {
    background: #a05158;
}

header ul.menu li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
}

header ul.menu li:hover a {
    color: #fff;
    text-decoration: none;
}

header .auth {
    display: flex;
    justify-content: space-between;
}

header .auth p {
    color: #fff;
}

header .auth a {
    display: inline-block;
    /*border-radius: 10px;
    border: 3px solid #eee;*/
    text-align: center;
    color: #eee;
}

header .auth a:hover {
    color: #a05158;
    /*border: 3px solid #a05158;*/
}

/* ---------- Content ---------- */

.container {
    width: 1170px;
    margin: 0 auto;
}

.content .title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    color: #a05158;
    margin: 20px 0;
}

.form-item {
    margin-bottom: 20px;
}

.form-item input, .form-item textarea {
    padding: 10px;
    border: 2px solid #a05158;
    border-radius: 5px;
    background: none;
    outline: 0;
    width: 100%;
    display: block;
}

.form-item .btn {
    background: none;
    padding: 10px;
    border: 2px solid #a05158;
    color: #a05158;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

.form-item .btn:hover {
    background: rgba(255, 255, 255, 0.25);
}

/* ---------- Footer ---------- */

footer .container {
    padding: 30px;
}